# Install

# Import

In [1]:
import pandas as pd
import re
import logging
logging.getLogger('pdfminer.pdfinterp').setLevel(logging.ERROR)
logging.getLogger('pdfminer.layout').setLevel(logging.ERROR)
from modules.schedule import ITR1_SECTIONS

# fn

In [2]:
from modules.extract_logic import clean_row,extract_sections,apply_dynamic_headers,is_empty_row_specific

# Code

In [3]:
input_file_path = 'OUTPUT/ ITR 1-2 AY 2023-24.pdf'
output_file_path = input_file_path.replace(".pdf", "_extracted.txt")
# excel_file_path = "output.xlsx"
config_path = "config/ITR1_header.json"
itr1 = ITR1_SECTIONS(input_file_path, output_file_path, config_path)
itr1

In [4]:
df_EXEMPT_INCOME= itr1.get_section("Acknowledgement_Number")
display(df_EXEMPT_INCOME)

Empty DataFrame
Columns: []
Index: []

In [5]:
# assert False

In [6]:
# itr1.export_to_excel(excel_file_path)

In [7]:
# itr1.start_pattern

In [8]:
# itr1.end_pattern

In [9]:
# itr1.extracted_data[33:34]

In [10]:
df_temp = pd.DataFrame(itr1.extracted_data[32:35])
# df_temp = clean_row(df_temp)
# df_temp = apply_dynamic_headers(df_temp, itr1.config,"ScheduleEA10_13A")
df_temp

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,*If the return is verified after 30 days of tr...,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Acknowledgement Number : 249294310170623 Date ...,None,None,None,None,None,None,None,None,None,None,None,None,None
2,,Sl.\nNo.,Nature of Exempt Allowances,None,None,None,Description ( If Any Other selected),None,None,None,None,Total Amount,None,None

In [11]:
# itr1.start_pattern
# itr1.end_pattern
# itr1.hdr_row_map

In [12]:
# extract_sections(itr1.extracted_data[105:111], itr1.start_pattern,itr1.end_pattern,itr1.hdr_row_map)

In [13]:
itr1.sections

{'EXEMPT_INCOME': {'start': 108, 'end': 110},
 'PART_E': {'start': 129, 'end': 132},
 'SCHEDULE_80G_A': {'start': 157, 'end': 159},
 'SCHEDULE_80G_B': {'start': 162, 'end': 165},
 'SCHEDULE_80G_C': {'start': 168, 'end': 173},
 'SCHEDULE_80G_D': {'start': 176, 'end': 178},
 'SCHEDULE_80GGA': {'start': 186, 'end': 188},
 'SCHEDULE_IT': {'start': 191, 'end': 193},
 'SCHEDULE_TDS1': {'start': 196, 'end': 199},
 'SCHEDULE_TDS2': {'start': 202, 'end': 204},
 'SCHEDULE_TDS3': {'start': 207, 'end': 209},
 'SCHEDULE_TCS': {'start': 212, 'end': 214},
 'Acknowledgement_Number': {'start': 33, 'end': 34}}

In [14]:
itr1.acknowledgement,itr1.dof

('249294310170623', '17-Jun-2023')

In [15]:
('249294310170623', '17-Jun-2023')

('249294310170623', '17-Jun-2023')

In [16]:
assert False

AssertionError:

In [ ]:
df_EXEMPT_INCOME= itr1.get_section("EXEMPT_INCOME")
display(df_EXEMPT_INCOME)

In [ ]:
df_LTCG112A= itr1.get_section("LTCG112A")
display(df_LTCG112A)

In [ ]:
# df_PART_C= itr1.get_section("PART_C")
# display(df_PART_C)

In [ ]:
# df_PART_D= itr1.get_section("PART_D")
# display(df_PART_D)

In [ ]:
df_PART_E= itr1.get_section("PART_E")
display(df_PART_E)

In [ ]:
df_EA10_13A= itr1.get_section("ScheduleEA10_13A")
display(df_EA10_13A)

In [ ]:
df_80u = itr1.get_section("SECTION_80U")
display(df_80u)

In [ ]:
df_80dd = itr1.get_section("SECTION_80DD")
display(df_80dd)

In [ ]:
df_80G_A= itr1.get_section("SCHEDULE_80G_A")
display(df_80G_A)

In [ ]:
df_80G_B= itr1.get_section("SCHEDULE_80G_B")
display(df_80G_B)

In [ ]:
df_80G_C= itr1.get_section("SCHEDULE_80G_C")
display(df_80G_C)

In [ ]:
df_80G_D= itr1.get_section("SCHEDULE_80G_D")
display(df_80G_D)

In [ ]:
df_80GGA= itr1.get_section("SCHEDULE_80GGA")
display(df_80GGA)

In [ ]:
df_80GGC= itr1.get_section("SCHEDULE_80GGC")
display(df_80GGC)

In [ ]:
df_it= itr1.get_section("SCHEDULE_IT")
display(df_it)

In [ ]:
df_TDS1= itr1.get_section("SCHEDULE_TDS1")
display(df_TDS1)

In [ ]:
df_TDS2= itr1.get_section("SCHEDULE_TDS2")
display(df_TDS2)

In [ ]:
df_TDS3= itr1.get_section("SCHEDULE_TDS3")
display(df_TDS3)

In [ ]:
df_TCS= itr1.get_section("SCHEDULE_TCS")
display(df_TCS)